@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

:root{
    --headings: #000;
    --text: #0b0c17;
    --link-color: #ff3571;
    --bckg-color: #ededed;
    --blue: #3C30FF;
    --white: #FFF;
    --space: 2rem;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 2rem;
}
img{
    width: 100%;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    color: var(--headings);
    font-style: bold;
}

h1{
    font-size: 2.7rem;
    line-height: 3rem;
}

h2{
    font-size: 2.5rem;
    line-height: 3rem;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.3rem;
    line-height: 3rem;
}

h5{
    font-size: 1.3rem;
    line-height: 3rem;
}

p{
    color: var(--text);
    font-size: 1.1rem;
    line-height: 2.2rem;
}

svg{
    height: 30px;
    width: 30px;
}

.wrapper{
    margin-left: 3rem;
    margin-right: 3rem;
}



/* ----------------- NAV ---------------------*/
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--space);
    width: 50%;
}

nav div{
   margin-left: 5rem;
}

nav svg{
    position: fixed;
    top: 23px;
    left: 23px; 
    margin: 0 1rem;
}

nav p{
 font-size: 1rem;
}


/* ------------------ HEADER -----------------*/

header{
    position: relative;
    height: 90vh;
}

.sky{
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
}

.sky img:nth-of-type(1){
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.sky img:nth-of-type(2){
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    animation: jump 3s infinite alternate;
}

@keyframes jump{
    from{transform: translateY(-30px)}
    to{transform: translateY(10px)}
}

.intro{
    padding-left: 4rem;
    margin: 8rem 0;
    width: 50%;
}

.intro h1{
    margin-bottom: 20px;
}

.intro p{
    margin-bottom: 50px;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.intro a{
    color: var(--link-color);

    font-size: 0.8rem;
    line-height: 1.7rem;
}


/* ------------------- GALLERY-Page -----------*/

.gallery{
    margin-bottom: var(--space);
    min-height: 80vh;
}


/* ------------------- GLUEHBIRNE-Page -----------*/

.gluehbirne-page img{
    height: 25px;
    width: 20px;
}

.gluehbirne-page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;
}

.gluehbirne-page article:nth-of-type(1){
    min-width: 30%;
}

.gluehbirne-page article:nth-of-type(2){
    min-width: 70%;
    padding: 0 2rem;
}


/* ------------------- LEARNING-SECTIONS-Page -----------*/


.learning-sections h2{
   max-width: 50%;
   margin-bottom: 3rem;
}

.grid-parent{
    display: grid;
    grid-template-columns: repeat(6, 0.6fr);
    gap:var(--space);
    min-height: 40vh;
}

.grid-parent h4{
    position: relative;
}

.yellow{
    grid-column-start:1; 
    grid-column-end:3; 
    grid-row-start:1; 
    grid-row-end:2; 
    margin-left: 2rem;
}

.yellow h4:before{
    content: url(../img/title01.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    top: 3px;
    left: -2rem;
}

.green{
    grid-column-start:4; 
    grid-column-end:6; 
    grid-row-start:1; 
    grid-row-end:2; 
}

.green h4:before{
    content: url(../img/title02.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    top: 3px;
    left: -2rem;
}

.lila{
    grid-column-start:1; 
    grid-column-end:3; 
    grid-row-start:3; 
    grid-row-end:4; 
    margin-left: 2rem;
}

.lila h4:before{
    content: url(../img/title03.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    top: 3px;
    left: -2rem;
}

.orange{
    grid-column-start:4; 
    grid-column-end:6; 
    grid-row-start:3; 
    grid-row-end:4; 
}

.orange h4:before{
    content: url(../img/title04.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    top: 3px;
    left: -2rem;
}



/* ------------------ CHALLENGES Section ----------------------- */

.challenge-pages{
    min-height: 80vh;
}

.challenge-pages div:nth-of-type(1){
    text-align: center;
}

.challenge-pages div:nth-of-type(1) h2{
    margin-bottom: var(--space);
    margin-top:10rem;
}

.challenge-pages div:nth-of-type(1) p{
    margin-bottom: 5rem;
}

.challenge-pages img{
    min-width: 50vw;
    padding: 2rem 4rem;
}

.picture-left, .picture-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    max-width: 40vw;
}

.text p:first-of-type{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.243);
    margin-bottom: 4rem;
}





/* --------------- EMAIL Section -----------------*/

.email-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   padding-top: 10rem;
}

.email-section h2{
    margin-bottom: var(--space);
}

.email-section p{
    margin-bottom: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input:nth-of-type(1){
    margin-bottom: 1.3rem;
    padding: 5px 40px;
    background-color: var(--bckg-color);
    border: none;

}

form input:nth-of-type(2){
    margin-bottom: 10rem;
    color: var(--white);
    background-color: #ff3571;
    border: none;
    padding: 8px 30px;
    font-size: 1rem;
}
 
form input:nth-of-type(2):hover{
    background: linear-gradient(30deg, rgba(255,53,113,1) 0%, rgba(133,7,225,1) 49%, rgba(7,12,225,1) 100%);
}


/* --------------- FOOTER -----------------*/

footer{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

footer img{
    width: 20px;
    width: 20px;
}

footer p{
    padding-right: 1rem;
    padding-left: 3rem;
}


@media screen and (max-width:450px) {
    .sky img:nth-of-type(1){
        width: 80vw;
        z-index: 1;
    }
    .sky img:nth-of-type(2){
        width: 80vw;
        z-index: 2;
    }
    nav div{
        display: none;
    }
    .intro{
        margin-top: 10rem;
    }
    .gallery img{
        max-height: 100vh;
    }
    .gluehbirne-page{
        display: flex;
        flex-direction: column;
        height: 80vh;
        margin-top: -25rem;
    }
    h2{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .gluehbirne-page article:nth-of-type(1) h2{
        margin-left: 5rem;
    }

    .learning-sections h2{
        margin-left: 8rem;
    }
    .grid-parent{
        margin-left: 2.5rem;
    }
    .challenge-pages img{
        width: 50vw;
    }
    .text{
        max-width: 60vw;
    }
    .text p:first-of-type{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .text p:last-of-type{
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
 }

